<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>184217205882-si75i1e91uager0iholc64uklr9mt2cf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.184217205882-si75i1e91uager0iholc64uklr9mt2cf</string>
	<key>API_KEY</key>
	<string>AIzaSyDEoTiZ2VXpa2z_VMrsybOm0hFGh6lu1iU</string>
	<key>GCM_SENDER_ID</key>
	<string>184217205882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Munavar.FLYING-HAWKS</string>
	<key>PROJECT_ID</key>
	<string>flying-hawks-168fe</string>
	<key>STORAGE_BUCKET</key>
	<string>flying-hawks-168fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:184217205882:ios:a10488205cf9ab0e1d0fc3</string>
</dict>
</plist>